*{
    margin: 0;
    padding: 0;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/donation13.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.headerTitle{
    display: flex;
    color: white;
    font-size: 65px;
    margin-bottom: 20px;
}
.headTitle2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 20px;
}
.headerDescription{
    color: #c8e8e8;
    background-color: #0119195e;
    margin-bottom: 20px;
}
.headerButton{
    color: white;
    background-color: #eb4242;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.donateContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}
.donateTitle{
    font-size: 50px;
}
.donateDescription{
    color: gray;
    font-size: 24px;
    max-width: 50%;
    text-align: center;
}
.donateAmountContainer{
    display: flex;
    gap: 123px;
    margin-top: 70px;
}
.donateAmount{
    color: grey;
    font-size: 32px;
}
.donateAmount{
    padding: 50px 0;
}
.donate200tk{
    border: 3px solid #ff5656;
    border-radius: 5px;
    padding: 50px 20px;
    margin-top: 0;
    background-color: #f0808021;
    color: #ff5656;
}
.otherAmount{
    display: flex;
    justify-content: center;
    color: #b8b2b2;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid #b8b2b252;
    padding: 10px 449px;
}
.secondButton{
    margin-bottom: 70px;
}
.donateItems{
    display: flex;
    margin: 50px 100px;
    justify-content: center;
    gap: 20px;
    max-width: 85%;
}
.donateItem{
    padding: 51px 69px;
}
.donateItem > img, h3{
    margin-bottom: 25px;
}
.donateItem > h3{
    font-size: 30px;
}
.donateItem > p{
    font-size: 17px;
    color: gray;
}
.donateItem1{
    background-color: #add8e647;
}
.donateItem2{
    background-color: #eb9c9c42;
}
.donateItem3{
    background-color: #ffff9a8a;
}
.dependContainer{
    display: flex;
    max-width: 85%;
    justify-content: center;
    margin-left: 100px;
    gap: 25px;
    margin-top: 150px;
}
.dependImage{
    width: 100%;
}
.subContainerText{
    padding: 5px 20px;
}
.dependTitle{
    font-size: 50px;
    margin-bottom: 30px;
}
.dependDescription{
    color: gray;
    font-size: 24px;
    margin-bottom: 30px;
    margin-right: 50px;

}
.dependButton{
    color: white;
    background-color: #eb4242;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.subContainerText2{
    margin-right: 0;
    margin-left: 50px;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form > form{
    background-color: #91915463;
    padding: 50px 113px;

}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000032;
    padding: 23px 0;
}
.footer > h3{
    color: #eb4242;
    font-size: 39px;
    font-family: cursive;
}
.footer > p{
    color: white;
}